<div data-ng-controller="AdvertiserCtrl" id="wrapper" ng-init="load();" ng-click="hideToggle()">
    <!-- navigation -->
    <div data-ng-include="'modules/users/views/advertiser/common/_header.html'"></div>
    <!-- page wrapper -->
    <div class="bg-grey-light max-height" ui-view id="page-wrapper" style="clear:both;margin-top:0px"></div>
</div>


<!-- <div data-ng-controller="AdvertiserCtrl" id="wrapper">
    <div class="container-fluid padding-0 margin-top-minus-70">
        
        <div data-ng-include="'modules/users/views/advertiser/common/_header.html'"></div>
        
        <div ui-view id="page-wrapper"></div>
    </div>
</div>
 -->
