<div  data-ng-controller="AdvertiserCtrl">
  <div class="signup-tab bg-white padding-top-30 padding-bottom-30">
    <div class="signup-tab-content center">
  	  <div class="color-navy-blue padding-bottom-10">
  		  <h3 class="bold">You have successfully hired an influencer</h3>
  	  </div>
  	  <div class="color-navy-blue padding-bottom-10">
  		<h2 class="bold">Do You want to continue hiring different candidate</h2>
  	  </div>
  	  <div class="row">
        <div class="col-md-6">
          <button class="btn btn-yellow input-flat" data-ng-click="closeCampaignPop(campaignId)">Close this campaign</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-green input-flat" data-ng-click="click()">Keep this campaign open</button>
        </div>
      </div>
    </div>
  </div>	
</div>