<div  data-ng-controller="AdvertiserCtrl">
	<div class="signup-tab bg-white padding-top-30 padding-bottom-30">
		<div class="signup-tab-content center">
			<form  name="createInviteForm" novalidate>   
		    <div class="form-group">
		    <span ng-if="alreadyExist" class="current" translate="HOMEPAGE.ALREADY_INVITED">already invited</span>
		      <select class="dropdown-camp form-control input-flat" data-ng-model="data.campaignId" ng-options="campaign._id as campaign.campaignTitle for campaign in campaignList" ng-init="data.campaignId=''" required ng-change="alreadyExist=false">
		        <option value ="" translate="HOMEPAGE.SELECT_CAMPAIGN">Select Campaign</option>
		      </select>
		    </div>
	    	<!-- <div class="form-group">
        	<input type="text" placeholder="Payment(eg. $140)" class="form-control input-flat" data-ng-model="data.price" required >
      	</div> -->
		    <div class="form-group">
		    	<textarea type="text" placeholder="Write message to insatgrammer" class="form-control input-flat" data-ng-model="data.message" required></textarea>
				</div>
			  <div class="form-group">
	        <div class="col-md-1 col-md-offset-8 text-right">
	          <button class="btn btn-green" data-ng-click="inviteSave(data, influencer, createInviteForm)" 
	          ng-disabled="alreadyExist" translate="HOMEPAGE.INVITE">Invite</button>
	        </div>
	      </div>
			</form>
  	</div>
	</div>	
</div>