<div  data-ng-controller="AdvertiserCtrl">
	<div class="bg-white padding-all-20 center">
		<div class="padding-bottom-10">
			<h3 class="bold">Request changes</h3>
		</div>
		<form  name="requestForm" ng-class="{submitted:requestForm.submitted}" novalidate>
			<div class="form-group">
	      <textarea rows="8" cols="50" type="text" placeholder="Tell what you want to be changed" class="form-control input-flat" data-ng-model="data.message" required></textarea>
	    </div>
	    <div class="row">
		    <div class="col-md-6">
		      <button class="btn btn-yellow input-flat" data-ng-click="closePop()">Cancel</button>
		    </div>
		    <div class="col-md-6">
		    	<input value="Request Changes" readonly data-ng-click="requestChangesPopUp(requestForm, data, conversationId, campaignId, recipient, index)" class="btn btn-green input-flat req-change_button" />
		    </div>
			</div>
		</form>
	</div>
</div>