<div class="signup-tab bg-white padding-top-30 padding-bottom-30" style="z-index: 40000;">
<button type="button" data-ng-click="$dismiss()" class="close category-close fa fa-times-circle-o" data-dismiss="modal" aria-label="Close">
	
</button>
  <div class="signup-tab-content center">
  	<div class="color-navy-blue padding-bottom-10">
  		<h3 class="bold">You need a monthly contract. Please contact support@expaus.in</h3>
  	</div>
  	
  </div>
</div>	
<style>
	.modal, .fade, .ng-isolate-scope, .xx-dialog {
		z-index: 50000!important;
	}
</style>