<div class="row ma-search-box-diff adver-search" style="top:0px">
    <nav class="navbar navbar-default">
        <div class="col-md-2 col-md-offset-10 align-center padding-top-10">
            <!-- <button data-ng-click="createCampaignPopUp()" class="btn bg-red btn-round input-flat save-draft" style="float:right;">Create Campaign</button> -->
        </div>
    </nav>
</div>
<div class="padding-0 adver-detail" ng-init="influencerDetailsFunc();">
    <div class="bg-grey-light padding-top-20 visible-mobile" style="margin-bottom:10px" ng-if="singleInfluencerDetails">
        <div class="col-md-12 visible-mobile" style="padding-bottom: 0px;">
            <div class="row">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <img ng-src="{{singleInfluencerDetails.profilePhoto}}" class="img-responsive img-circle" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3" style="text-align: center;">
                        <h3 class="margin-top-10">
                            <strong>
                                {{singleInfluencerDetails.aboutMe.name}}
                            </strong>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2" style="text-align: center;">
                        <label class="mid-lbl" style="white-space:normal;">
                            <span style="margin:0;float:none!important" ng-if="singleInfluencerDetails.aboutMe.gender=='male'" translate="HOMEPAGE.MALE"></span>
                            <span style="margin:0;float:none!important" ng-if="singleInfluencerDetails.aboutMe.gender=='female'" translate="HOMEPAGE.FEMALE"></span>
                            <span style="margin:0;float:none!important">, {{calculateAge(singleInfluencerDetails.aboutMe.birthday)}}</span> 
                            <span style="margin:0;float:none!important" translate="HOMEPAGE.YEAR_OLD" style="margin-left: 0px;">Year Old</span></br>

                        </label>
                        <label class="mid-lbl" style="white-space:normal;">
                            {{singleInfluencerDetails.aboutMe.city}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-6 col-xs-6 padding-right-5">
                <button ng-if="advertiserInfo.userLevel!='Trial'" class="btn btn-bluedark-o btn-full" data-ng-click="analyticsInfluencerPopUp(singleInfluencerDetails)" translate="HOMEPAGE.STATS">
                    Stats
                </button>
                <button ng-if="advertiserInfo.userLevel=='Trial'" class="btn btn-bluedark-o btn-full" data-ng-click="analyticsInfluencerTrialPopUp(singleInfluencerDetails)" translate="HOMEPAGE.STATS">
                    Stats
                </button>
            </div>
            <div class="col-md-6 col-xs-6 padding-left-5">
                <button class="btn btn-bluedark-o btn-full" data-ng-click="bookmarkedInfluencerFunc(singleInfluencerDetails._id, checkInfluencer(singleInfluencerDetails._id))" translate="HOMEPAGE.BOOKMARK">
                    Bookmark
                </button>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-4 form-group  center">
                <label class="small-lbl" translate="HOMEPAGE.FOLLOWERS">
                    FOLLOWERS
                </label>
                <h3 class="margin-top-5 color-red">
                    {{singleInfluencerDetails.followed_by}}
                </h3>
            </div>
            <div class="col-xs-4 form-group center">
                <label class="small-lbl" translate="HOMEPAGE.LIKES_AVG">
                    LIKES AVG
                </label>
                <h3 class="margin-top-5 color-red">
                    {{singleInfluencerDetails.averageLikes}}
                </h3>
            </div>
            <div class="col-xs-4 form-group center">
                <label class="small-lbl" translate="HOMEPAGE.COMMENT_AVG">
                    COMMENTS AVG
                </label>
                <h3 class="margin-top-5 color-red">
                    {{singleInfluencerDetails.averageComments}}
                </h3>
            </div>
        </div>
        <div class="row form-group center">
            <label class="small-lbl" translate="HOMEPAGE.PRICE">
                PRICE
            </label>
            <h3 class="margin-top-5">
                <strong>
                    $ {{singleInfluencerDetails.aboutMe.minPrice}}
                </strong>
            </h3>
        </div>
        <div class="row hire-mobile" style="">
            <div class="row-btn align-right">
                <button style="width:98%;"  class="btn btn-primary btn-green" data-ng-click="hireInfluencerPopUp(singleInfluencerDetails)" 
                translate="HOMEPAGE.HIRE">
                    Hire
                </button>
            </div>
            <div class="row-btn">
                <button  style="width:98%;" class="btn btn-primary btn-yellow" data-ng-click="inviteInfluencerPopUp(singleInfluencerDetails)" 
                translate="HOMEPAGE.INVITE">
                    Invite
                </button>
            </div>
        </div>
    </div>    
    <div class="col-md-3 visible-lg-screen margin-top-20 adver-detail-info">
        <div class="row">
            <div class="col-md-5">
                <img ng-src="{{singleInfluencerDetails.profilePhoto}}" class="img-responsive img-circle img-ht-80" />
            </div>
            <div class="col-md-7">
                <h3 class="margin-top-10">
                    <strong>
                        {{singleInfluencerDetails.aboutMe.name}}
                    </strong>
                </h3>
                <label class="mid-lbl">
                            <span style="margin:0;float:none!important" ng-if="singleInfluencerDetails.aboutMe.gender=='male'" translate="HOMEPAGE.MALE"></span>
                            <span style="margin:0;float:none!important" ng-if="singleInfluencerDetails.aboutMe.gender=='female'" translate="HOMEPAGE.FEMALE"></span>
                            <span style="margin:0;float:none!important">, {{calculateAge(singleInfluencerDetails.aboutMe.birthday)}}</span> 
                            <span style="margin:0;float:none!important" translate="HOMEPAGE.YEAR_OLD" style="margin-left: 0px;">Year Old</span></br>
                  
                </label>
                <label class="mid-lbl" style="white-space: normal;">
                    {{singleInfluencerDetails.aboutMe.city}}
                </label>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-6 col-xs-6 padding-right-5">
                <button ng-if="advertiserInfo.userLevel!='Trial'" class="btn btn-bluedark-o btn-full" data-ng-click="analyticsInfluencerPopUp(singleInfluencerDetails)" translate="HOMEPAGE.STATS">
                    Stats
                </button>
                <button ng-if="advertiserInfo.userLevel=='Trial'" class="btn btn-bluedark-o btn-full" data-ng-click="analyticsInfluencerTrialPopUp(singleInfluencerDetails)" translate="HOMEPAGE.STATS">
                    Stats
                </button>
            </div>
            <div class="col-md-6 col-xs-6 padding-left-5">
                <button class="btn btn-bluedark-o btn-full" data-ng-click="bookmarkedInfluencerFunc(singleInfluencerDetails._id, checkInfluencer(singleInfluencerDetails._id))" translate="HOMEPAGE.BOOKMARK">
                    Bookmark
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-4 form-group margin-top-15 center">
                <label class="small-lbl" translate="HOMEPAGE.FOLLOWERS">
                    FOLLOWERS
                </label>
                <h3 class="margin-top-5 color-red">
                    {{singleInfluencerDetails.followed_by}}
                </h3>
            </div>
            <div class="col-md-12 col-xs-4 form-group margin-top-5 center">
                <label class="small-lbl" translate="HOMEPAGE.LIKES_AVG">
                    LIKES AVG
                </label>
                <h3 class="margin-top-5 color-red">
                    {{singleInfluencerDetails.averageLikes}}
                </h3>
            </div>
            <div class="col-md-12 col-xs-4 form-group margin-top-5 center">
                <label class="small-lbl" translate="HOMEPAGE.COMMENT_AVG">
                    COMMENTS AVG
                </label>
                <h3 class="margin-top-5 color-red">
                    {{singleInfluencerDetails.averageComments}}
                </h3>
            </div>
            <div class="col-md-12 form-group margin-top-5 center">
                <label class="small-lbl" translate="HOMEPAGE.PRICE">
                    PRICE
                </label>
                <h3 class="margin-top-5">
                    <strong>
                        $ {{singleInfluencerDetails.aboutMe.minPrice}}
                    </strong>
                </h3>
            </div>
            <!-- <div class="col-md-12 form-group margin-top-5 center">
                <button class="btn btn-primary btn-green" data-ng-click="hireInfluencerPopUp(singleInfluencerDetails)">
                    Hire
                </button>
            </div>
            <div class="col-md-12 form-group margin-top-5 center">
                <button class="btn btn-primary btn-yellow" data-ng-click="inviteInfluencerPopUp(singleInfluencerDetails)">
                    Invite
                </button>
            </div> -->
        </div>
        <div class="row influ-btn">
            <div class="row-btn align-right">
                <button style="width:98%" class="btn btn-primary btn-green" data-ng-click="hireInfluencerPopUp(singleInfluencerDetails)"
                 translate="HOMEPAGE.HIRE">
                    Hire
                </button>
            </div>
            <div class="row-btn">
                <button style="width:98%;" class="btn btn-primary btn-yellow" data-ng-click="inviteInfluencerPopUp(singleInfluencerDetails)" 
                translate="HOMEPAGE.INVITE">
                    Invite
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-9 ">
        <div class="row margin-bottom-20">
            <div class="col-xs-4 margin-bottom-20 mobile-margin-padding-0" ng-repeat="photo in instagramSavedPhotoList">
                <img height="203" width="203" ng-src="{{photo.images.thumbnail}}" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<style>
    .adver_search ,.advert-user-list {
        display: none;
    }
</style>