<button type="button" data-ng-click="$dismiss()" class="close category-close fa fa-times-circle-o" data-dismiss="modal" aria-label="Close"></button>
<div class="signup-tab bg-white padding-top-30 padding-bottom-30">
  <div class="bg-white modal-body">
  	<div class="padding-bottom-10 bg-white">
  	  <div class="col-md-12">
        <div class="form-group">
          <div>
            <h3 translate="PROFILE_PAGE_TERMS.H3_1">1.0 Applicability of Terms</h3>
            <p>1.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_1_1">These general terms and conditions shall apply to all services provided by expaus, and will be applicable directly between the company using expaus as a connector to an Instagram user (the “Promoter”), and directly between expaus and the Instagram user who is connected with the Promoter (the “Instagramer”).</p>

            <p>1.2</p>
            <p translate="PROFILE_PAGE_TERMS.P_1_2">These general terms and conditions take precedence over any other terms and conditions – whether oral or in writing - unless otherwise specific agreed between the parties in a separate written and signed agreement.</p>

            <h3 translate="PROFILE_PAGE_TERMS.H3_2">2.0 Contractual relationship and liability</h3>
            <p>2.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_2_1">expaus provides the contact between the Promoter and the Instagramer, and acts as a facilitator for the parties’ interaction on the provided expaus platform.</p>

            <p>2.2</p>
            <p translate="PROFILE_PAGE_TERMS.P_2_2">expaus assumes no liability for the content of any Instagramer’s profile connected to one or more Promoters, and expaus is not liable for the Instagramer’s or the Promoter’s violation of Instagram’s Terms and Conditions.</p>

            <p>2.3</p>
            <p translate="PROFILE_PAGE_TERMS.P_2_3">expaus may provide a sample written agreement between an unspecified Promoter and an unspecified Instagramer. This is a service provided by expaus, and the Promoter and the Instagramer may decide not to use the sample; use the sample in the exact form as provided or adjust the sample as see fit.</p>

            <p>2.4</p>
            <p translate="PROFILE_PAGE_TERMS.P_2_4">expaus cannot be held liable for the content of the agreement regardless of the Promoter’s and the Instagramer’s use of the sample provided by expaus.</p>

            <p>2.5</p>
            <p translate="PROFILE_PAGE_TERMS.P_2_5">Under all circumstances, expaus cannot be held liable for any acts and/or omissions of neither the Instagramer nor the Promoter for any reason, including but not limited to infringements of third party rights including intellectual property rights or claims arisen as a result of either party’s failure to comply with obligations in the parties’ contractual relationship.</p>

            <h3 translate="PROFILE_PAGE_TERMS.H3_3">3.0 Handling of personal data</h3>
            <p>3.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_3">expaus will at all times act in accordance with the Japanese Act on Processing of Personal Data (Persondataloven), and personal data of the Instagramer will only be disclosed to a Promoter with the consent of the Instagramer.</p>

            <h3 translate="PROFILE_PAGE_TERMS.H3_4">4.0 The registration in expaus’s database</h3>
            <p>4.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_4_1">expaus will at all times act in accordance with the Japanese Act on Processing of Personal Data (Persondataloven), and personal data of the Instagramer will only be disclosed to a Promoter with the consent of the Instagramer.</p>

            <p>4.2</p>
            <p translate="PROFILE_PAGE_TERMS.P_4_2">The Promoter or the Instagramer are at any time entitled to get the registration in the database of expaus deleted.</p>

            <h3 translate="PROFILE_PAGE_TERMS.H3_5">5.0 Confidentiality</h3>
            <p>5.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_5_1">Unless otherwise expressly agreed in writing, no information provided to expaus shall be regarded as confidential, unless their confidential nature is obvious.</p>

            <p>5.2</p>
            <p translate="PROFILE_PAGE_TERMS.P_5_2">However, personal data will be handled in accordance with section 3.</p>
            
            <h3 translate="PROFILE_PAGE_TERMS.H3_6">6.0 Applicable Laws and Jurisdiction</h3>
            <p>6.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_6">These Terms will be governed by the Laws of Japan, and Tokyo District Court shall have the exclusive jurisdiction of the first instance over all disputes arising in connection with this agreement.</p>

            <h3 translate="PROFILE_PAGE_TERMS.H3_7">7.0 Changes to these Terms of Use and Platform</h3>
            <p>7.1</p>

            <p translate="PROFILE_PAGE_TERMS.P_7_1">Except where prohibited by applicable law, expaus reserves the right to change these Terms of Use at any time without notice. Your continued access to or use of the Platform after any changes to these Terms of Use indicates your acceptance of such changes. It is your responsibility to review these Terms of Use regularly.</p>

            <p translate="PROFILE_PAGE_TERMS.P_7_2">expaus reserves the right to change any information, material or content (including, but not limited to, price, features, availability of Promoters) contained on or provided through the Platform (the "Content") at any time, and from time to time, without notice.</p>
          </div>
        </div>
      </div>
  	</div>
  </div>
</div>	