<div class="confirm-tab">
    <div class="modal-header bg-login padding-top-10 padding-bottom-20">
        <h3 class="color-white">Sign Up</h3>
    </div>
    <div class="modal-body padding-top-10 padding-bottom-20">
        <div class="row">
            <div class="col-md-6">
                <a translate="SIGNUP_DIALOG.FOR_ADVERTISERS" class="confirm-button-advertiser" ng-href="" data-ng-click="signupAdvertiser()">
        I'm a Company
        </a>
            </div>
            <div class="col-md-6">
                <a translate="SIGNUP_DIALOG.FOR_INSTAGRAMERS" class="confirm-button-influencer" target="_self" ng-href="/auth/instagram">
        I'm an Instagramer
        </a>
            </div>
        </div>
    </div>
</div>
<style>
.modal-body {
    min-height: inherit;
}
</style>
