<div ng-controller="AdminController as adminCtrl">
    <div class="bg-white padding-all-20 center">
        <div class="padding-bottom-10">
            <h3 class="bold">Reason for Declining <strong></strong></h3>
        </div>
        <form name="requestForm" ng-submit="adminCtrl.actionCampaignmultiDecline(item,requestForm)" ng-class="{submitted:requestForm.submitted}" novalidate>
            <div class="form-group">
                <textarea rows="8" cols="50" type="text" placeholder="Tell the reason for declining" class="form-control input-flat" data-ng-model="item.declimeMessage" required>
                </textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-yellow input-flat" data-ng-click="adminCtrl.closePop()">Cancel</button>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Decline" class="btn btn-green input-flat" />
                </div>
            </div>
        </form>
    </div>
</div>
