
<div class="influ-setting ma-setting-profile bg-white bg-grey-light">
    <div class="row margin-top-20 margin-left-10">
        <div class="col-md-6">
            <form name="saveForm" novalidate>
                <div class="row form-group">
                    <label class="col-md-4" translate="SETTINGS.OLD_PASSWORD">Old Password</label>
                    <div class="col-md-8">
                        <input type="password" class="dropdown input-flat" name="password" data-ng-model="settings.password" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4" translate="SETTINGS.NEW_PASSWORD">New Password</label>
                    <div class="col-md-8">
                        <input type="password" class="dropdown input-flat" name="newPassword" data-ng-model="settings.newPassword">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4" translate="SETTINGS.CONFIRM_PASSWORD" >Confirm Password</label>
                    <div class="col-md-8">
                        <input type="password" class="dropdown input-flat" name="confirmPassword" data-ng-model="settings.confirmPassword">
                    </div>
                </div>
                <div class="row form-group padding-left-15 align-left">
                    <button class="btn btn-primary bg-red" data-ng-click="updateAdvertiserPassword(settings)" translate="SETTINGS.UPDATE_PASSWORD">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

